@media (min-width: 600px)
body {
    font-family: 'PT Sans', Arial, sans-serif;
}

ul, ol {
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
}
.list{
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	
}
.list>li{
    
    margin: auto;

}
img{
	flex-wrap:wrap;
	padding: 5px;
}
.B_inner{
	max-width: 1500px;
}
h1{
	text-align: center;

}
span.title{
padding-left:30%;
}
h4{
	text-align: center;
}
pre {
    display: block;
    padding: 9.5px;
    margin: auto;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:54%;
}

body{
    background: url(../img/f2.jpg);
}
 
