div.pom{
text-align: center;

}
h4{
	font-family: bold;
	text-indent: 25px;
	font-size: 25px;
}
div.ukr{
padding: 10px;
}

div.golovuy{
	border:2px solid white;
	margin:auto;
	width:60%;
	margin-bottom:30px;
	padding-bottom:10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	background-color:white;
	border-radius: 20px;
	background:url(../img/f4.jpg)
}
body{
	background:url(../img/ramka1.png);
}
img{
	margin:auto;
	width:50%;
}